@import "tailwindcss";

:root {
  --background: black; /* #808080 perfect 50% gray to avoid color misperception (color is relative) */
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-geist), Arial, Helvetica, sans-serif;
}
